.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active,
    &:focus {
        transform: translate(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-1;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }

    &--white {
        color: $color-white;
        border-bottom: 1px solid $color-white;

        &:hover {
            background-color: $color-white;
            color: $color-primary-light-1;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
            transform: translateY(2px);
        }
        
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
            transform: translateY(0);
        }
    }

    &--blue {
        color: $color-primary-light-1;
        border-bottom: 1px solid $color-primary-light-1;

        &:hover {
            background-color: $color-primary-light-1;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
            transform: translateY(2px);
        }

        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
            transform: translatY(0);
        }
    }
}