.navbar {
}

.nav-list {
    list-style: none;
    top:0;
    overflow: hidden;


    &__item {
        transition: all .5s;

        &:hover:not(:nth-child(3)) {
            background-color: rgba($color-primary-light-1, 0.8);
            border-bottom: $color-white;
            color: $color-white;
        }
        display: block;
        text-align: center;
        padding: 1.4rem 1.6rem;
        float: left;

        &--left {
            display: inline-block;
        }

        &--logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%)
        }

        &--right {
            float: right;
        }
    }
}