.review-card {
    height: 60rem;
    width: 100%;
    margin: 0 auto;    
    background-image: linear-gradient(to bottom, 
    rgba($color-primary-light-1, .8), 
    rgba($color-primary-light-2, .8));
    // background-color: rgba($color-grey-1, .8);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

    &__shape {
        width: 12rem;
        height: 12rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        position: relative;
        overflow: hidden;
    }

    &__top-box {
        height: 35%;
        background-color: rgba($color-grey-1, .8);
    }

    &__image {
        height: 100%;
        backface-visibility: hidden;
        transform: scale(1.4);
        transition: all .5s;

        &:hover {
            transform: scale(1) translateY(-2px);
            filter: blur(2px) brightness(75%);
        }
    }

    &__caption {
        top: 60%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        z-index: 1000000;
    }
    &:hover &__caption {
        opacity: 1;
        // transform: translate(-50%, -50%);
    }
}