body {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 300;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-1;
    padding: 0 2.5vw;
    padding-bottom: 2.5vw;
}

.heading-secondary {
    font-size: $heading-2-font-size;
    letter-spacing: .2rem;
}