body {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-1;
    padding: 0 3rem;
    padding-bottom: 3rem;
}