//CONTAINS ALL LANDING PAGE SECTION STYLES


//SECTION LANDING
.landing {
    color: $color-white;
    font-size: $heading-font-size;
    font-weight: 300;
    height: 90vh;
    background-image: linear-gradient(to bottom right,
    rgba($color-primary-light-1, 0.5),
    rgba($color-primary-light-2, 0.5)),
    url(../img/landingPic.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    animation: fadeIn 2.5s ease-out;


    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
    }
}

//    rgba($color-tertiary-light, 0.5),
//    rgba($color-tertiary-dark, 0.5)),

//SECTION TRIPS
.section-trips {
    padding: 25rem 0 0;
    transform: translateY(-20rem);
}


//SECTION FEATURES
.section-features {
    transform: translateY(-20rem);
    background-image: linear-gradient(to bottom right,
    rgba($color-primary-light-1, 0.8),
    rgba($color-primary-light-2, 0.8));
    color: $color-white;
    padding: 30vh 0 5vh;
    -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}


//SECITON ABOUT

//SECTION REVIEWS
.section-reviews {
  // padding: 2rem 0;
  transform: translateY(-10rem);
}
